body{font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体"; background:url('../img/bg.jpg'); padding:80px 0;}
footer{padding-top:10px; text-align:right; font-size:12px; color:#999}
.art-content p,.art-content h3,.art-content h4{text-indent:28px;}
.span2{text-align:right; font-size:12px; color:#999}
.span12{line-height:1.8em;}
/* Custom container */
.container-narrow{margin:0 auto;max-width:960px;}
.container-narrow > hr{margin: 30px 0;}
.content-wrap{background: none repeat scroll 0 0 rgba(0, 0, 0, 0.04);padding: 8px;border-radius:4px;}
.content-inner{border:solid 1px #D3D3D3;padding: 6px; background:#F8F8F8;border-radius:4px;}
.container-narrow .content{background:#FFF;padding:15px 30px 15px 30px;border-radius:4px
}
.content{width:630px;float:left;}
.weibo{float:right; width:240px; height:auto;}
.page-header{margin-bottom:10px;}
.navbar{border-radius:0px;}
.navbar-inner{ background:#FFF}
.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }