---
layout: default
---
<section class="meta">
<span class="time">
  <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
</span>
{% if page.categories.size != 0 %}
 | 
<span class="categories">
  分类
  {% for cat in page.categories %}
  <a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}
{% if page.tags.size != 0 %}
 | 
<span class="tags">
  标签
  {% for tag in page.tags %}
  <a href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}
</section>
<section class="post">
{{ content }}
<h3><p align="middle">青春是一场大雨，即使感冒了，还盼回头再淋一次...<img src="/assets/cat_01.jpg" alt="image" align="middle">...微笑永远是一个人身上最好看的东西...</p></h3>
</section>
<section align="right">
<br/>
<span>
	<a {% if page.previous %} href="{{ page.previous.url }}" class="pageNav"{% endif %} {% unless page.previous %} class="pageNavInvalid" {% endunless %} >前一页</a>
	&nbsp;&nbsp;&nbsp;
	<a {% if page.next %} href="{{ page.next.url }}" class="pageNav"{% endif %} {% unless page.next %} class="pageNavInvalid" {% endunless %} >后一页</a>
	<div class="weibo">

<iframe width="136" height="24" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0" scrolling="no" border="0" src="http://widget.weibo.com/relationship/followbutton.php?language=zh_cn&width=136&height=24&uid=1701186332&style=2&btn=red&dpc=1"></iframe>

</div>
</span>
</section>
{% include comments.md %}
 <script type="text/javascript">
	var Swiftype = window.Swiftype || {};
	  (function() {
	    Swiftype.key = 'sX7Xz7sC3KcpjTpPYbQV';
	    Swiftype.disableAutocomplete = true;
	    var script = document.createElement('script'); script.type = 'text/javascript'; script.async = true;
	    script.src = "//s.swiftypecdn.com/embed.js";
	    var entry = document.getElementsByTagName('script')[0];
	    entry.parentNode.insertBefore(script, entry);
	  }());
	</script>
